{{#each this}}
  <li class='films__item'>
    <a class='films__link link' href='https://image.tmdb.org/t/p/w780{{poster_path}}'>
      <div class='films__thumb'>
        <picture>
          <source
            srcset='
                https://image.tmdb.org/t/p/w342{{poster_path}} 1x,
                https://image.tmdb.org/t/p/w780{{poster_path}} 2x'
            type='image/jpeg'
          />
          <img
            class='films__image'
            id='{{id}}'
            src='#'
            alt='{{original_title}}'
            data-source='https://image.tmdb.org/t/p/w780{{poster_path}}'
            onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'"
          />
        </picture>
      </div>
      <div class='films__content'>
        <p class='films__name'>
          {{original_title}}
        </p>
        <p class='films__description'>
          <span class='films__info'>{{genres}} | {{year}}</span>
          <span class='films__votes'>{{vote_average}}</span>
        </p>
      </div>
    </a>
  </li>
{{/each}}