{{#each this}}
<li class='films__item'>
  <a class='films__link link' href='https://image.tmdb.org/t/p/w780{{poster_path}}'>
    <div class='films__thumb'>
      {{#if poster_path}}
      <picture>
        <source srcset='
                https://image.tmdb.org/t/p/w342{{poster_path}} 1x,
                https://image.tmdb.org/t/p/w780{{poster_path}} 2x' type='image/jpeg' />
        <img class='films__image' id='{{id}}' src='#' alt='{{original_title}}'
          data-source='https://image.tmdb.org/t/p/w780{{poster_path}}' />
      </picture>
      {{else}}
      <img class='films__image' id='{{id}}'
        src="https://media.istockphoto.com/photos/single-dia-slide-35mm-film-snip-under-different-flash-light-settings-picture-id1323720288?b=1&k=20&m=1323720288&s=170667a&w=0&h=XCA6bix_4uuiWXqDj1_hsYMhAz_loXVFQ9jYx-F47qE="
        alt="{{original_title}}">
      {{/if}}
    </div>
    <div class='films__content'>
      <p class='films__name'>
        {{original_title}}
      </p>
      <p class='films__description'>
        <span class='films__info'>{{genres}} | {{year}}</span>
        <span class='films__votes'>{{vote_average}}</span>
      </p>
    </div>
  </a>
</li>
{{/each}}